<footer class="footer">
    <nav>
        <ul class="nav-secondary">
            <li>
                <a href="https://github.com/romantomjak">
                    <img class="nav-secondary__icon" src="/images/github.svg" alt="Github" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/romantomjak">
                    <img class="nav-secondary__icon" src="/images/twitter.svg" alt="Twitter" />
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/romanstomjaks">
                    <img class="nav-secondary__icon" src="/images/linkedin.svg" alt="LinkedIn" />
                </a>
            </li>
        </ul>
    </nav>
    <p>Copyright &copy; 2018 Roman Tomjak</p>
</footer>
</body>
</html>
