{{ $paginator := .Paginate (where (where .Site.RegularPages.ByDate.Reverse "Type" "posts") ".Params.draft" "ne" true) }}

<ul class="post-list">
    {{ range first 3 $paginator.Pages }}
    <li class="post-list__item">
        <a class="post-list__link" href="{{ .RelPermalink }}">
            <div class="post-list__header">
                <h3 class="post-list__title">{{ .Title }}</h3>
                <aside class="post-list__date">{{ .Date.Format "Jan 2" }}</aside>
            </div>
            <p class="post-list__summary">{{ .Params.Summary | plainify | htmlUnescape }}</p>
        </a>
    </li>
    {{ end }}
</ul>